.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.page-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.content-wrapper {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th{
    border-bottom: solid gray 2px;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.02);
}
